html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body {
  color: #111;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2%, #FF7A00), color-stop(99.82%, #FFB039));
  background: linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.2);
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2%, #DD6A00), color-stop(99.82%, #F99806));
  background: linear-gradient(90deg, #DD6A00 0.2%, #F99806 99.82%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav--header {
  padding-top: 40px;
}

.nav__list {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.nav__list-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #2B7AF1;
}
.nav__list-logo a {
  font-size: 18px;
  font-weight: 800;
}

.nav__text-general {
  display: block;
  position: relative;
}

.nav__text-general::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 0px;
  width: 67px;
  height: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 2px;
  background: #111;
}

.nav__list-contact {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.nav__list-img {
  position: relative;
  z-index: 1;
}

.nav__list-circle {
  position: absolute;
  bottom: -11px;
  left: -10px;
  z-index: -1;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  background: #ffffff;
}

.nav__list-contact-mail,
.nav__list-contact-tell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list-cosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list-cosial--mini {
  display: none;
}

.header {
  position: relative;
}

.header__background {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -5;
  width: 100%;
  width: 52vw;
  height: 810px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 0px 10px;
  background: #2B7AF1;
}

.nav__list-mobail {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}

.nav__list-item {
  position: relative;
  cursor: pointer;
}

.nav_list-burger,
.nav_list-burger::before,
.nav_list-burger::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: #000000;
  z-index: 4;
}

.nav_list-burger::before,
.nav_list-burger::after {
  content: "";
  position: absolute;
}

.nav_list-burger::before {
  top: 6px;
}

.nav_list-burger::after {
  top: -6px;
}

.nav__mobail-wrapper {
  display: none;
}

.body--opened-menu {
  overflow: hidden;
}
.body--opened-menu .nav__mobail-wrapper {
  display: block;
  position: fixed;
  z-index: 2;
  inset: 0px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.368627451);
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
}
.body--opened-menu .nav__mobail-container {
  width: 0px;
  height: 100%;
  background: #2B7AF1;
  padding-top: 115px;
  -webkit-animation: viewport 1.5s forwards;
          animation: viewport 1.5s forwards;
}
@-webkit-keyframes viewport {
  to {
    width: 40vw;
  }
}
@keyframes viewport {
  to {
    width: 40vw;
  }
}
.body--opened-menu .nav__list-mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
}
.body--opened-menu .nav_list-burger,
.body--opened-menu .nav_list-burger::before,
.body--opened-menu .nav_list-burger::after {
  display: block;
  top: 20px;
  left: -13px;
}
.body--opened-menu .nav_list-burger::before {
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.body--opened-menu .nav_list-burger::after {
  background: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.body--opened-menu .nav_list-burger {
  background: transparent;
}
.body--opened-menu .nav__list-item-mobai {
  display: block;
  position: relative;
}
.body--opened-menu .nav__list-item-mobai::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 35vw;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.header__hero-wrapper {
  padding-top: 63px;
  padding-left: 15px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
  max-width: 390px;
}

.header__hero-title {
  font-size: 40px;
  font-weight: 800;
}

.header__hero-subtitle {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
}

.button--header {
  margin-top: 27px;
}

.header__hero-img {
  width: 100%;
  max-width: 61%;
}

.header__img {
  top: 140px;
  right: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1019607843);
          box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1019607843);
  width: 100%;
  height: 473px;
}

.header__hero-img-fil {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.header__cards {
  width: 100%;
  padding-top: 67px;
  display: grid;
  grid-template-columns: repeat(4, 23.5%);
  grid-template-rows: auto;
  gap: 20px;
}

.header__cards-bloc {
  max-width: 305px;
  height: 231px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(17, 17, 17, 0.3019607843);
          box-shadow: 0px 5px 20px 0px rgba(17, 17, 17, 0.3019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__cards-icon {
  padding-top: 40px;
}

.header__cards-text {
  max-width: 256px;
  padding-top: 26px;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.header__cards-text--4 {
  display: none;
}

.apartments {
  padding-top: 115px;
}

.container--apartments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apartments__general-title {
  color: #2B7AF1;
  font-size: 36px;
  font-weight: 800;
}

.apartments__grid {
  display: grid;
  grid-template-columns: 2.8fr 1fr 2.8fr;
  grid-template-rows: 300PX 300px;
  gap: 20px;
  padding-top: 40px;
}

.apartments__bloc {
  position: relative;
  z-index: -3;
  color: white;
  background-size: cover;
  border-radius: 10px;
  background-position: 0% 50%;
  padding: 20px 20px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.apartments__filter {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5019607843);
  border-radius: 10px;
}

.apartments__img--mobail,
.apartments__title--mobail {
  display: none;
}

.bloc1 {
  grid-column: 1/3;
  background-image: url(../img/flat1.jfif);
}

.bloc2 {
  background-image: url(../img/flat2.jfif);
}

.bloc3 {
  background-image: url(../img/flat3.jfif);
  background-position: 0% 90%;
}

.bloc4 {
  grid-column: 2/4;
  background-image: url(../img/flat4.jfif);
  background-position: 0% 70%;
}

.apartments__new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #5CB85C;
  text-align: center;
  font-size: 12px;
  margin-bottom: 2.7vw;
}

.button--apartments {
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
}

.apartments__title {
  font-size: 24px;
  font-weight: 800;
}

.apartments__price {
  padding-top: 67px;
  font-size: 20px;
  font-weight: 400;
}

.apartments__money {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 800;
}

.apartments__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 24px;
  font-size: 18px;
  font-weight: 400;
}

.button--apart-down {
  margin: 75px auto 0px;
  padding: 15px 50px;
  font-size: 16px;
}

.about-us {
  padding-top: 128px;
  padding-bottom: 100px;
}

.about-us__title {
  color: #2B7AF1;
  font-size: 36px;
  font-weight: 800;
}

.about-us__info {
  padding-top: 40px;
}

.about-us__text {
  max-width: 433px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}

.about-us__bloc {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 99px;
}

.about-us__icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.about-us__icon-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.about-us__icon-num {
  color: #2B7AF1;
  font-size: 36px;
  font-weight: 800;
}

.about-us__icon-text {
  font-size: 18px;
  font-weight: 400;
}

.line {
  margin: 0px auto;
  max-width: 1280px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 1px;
  background: var(--unnamed, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));
}

.contacts {
  padding-top: 100px;
}

.contacts__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__info-title {
  color: #2B7AF1;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 50px;
}

.contacts__info-bloc-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.contacts__info-bloc-line-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.contacts__info-bloc-line-app p {
  font-size: 18px;
  font-weight: 400;
}

.contacts__info-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 123px;
}

.contacts__info-bloc-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.contacts__info-bloc-down p {
  font-size: 18px;
  font-weight: 400;
}

.contacts__info-bloc-line-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--contacts {
  display: none;
}

.contacts__info-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21.6px;
}
.contacts__info-buttons .button {
  width: 157px;
  padding: 8px 20px;
  margin-right: 10px;
  font-size: 14px;
}

.contacts__img {
  width: 758px;
  height: 429px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.contacts__img .contacts__img-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
          box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
}

.reviews {
  padding-top: 169px;
  position: relative;
}

.reviews__background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: -5;
  padding: 40px;
  width: 100%;
  height: 649px;
  background: #2B7AF1;
}

.container--reviews {
  padding: 0 30px 0;
}

.reviews__title {
  padding-top: 100px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  line-height: 130%;
}

.reviews__wrapper {
  position: relative;
}

.reviews__next,
.reviews__prev {
  cursor: pointer;
  position: absolute;
  top: 155px;
  z-index: 4;
}

.reviews__next {
  right: -40px;
}

.reviews__prev {
  left: -40px;
}

.reviews__swiper-wrapper {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__slide {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  width: 630px;
  height: 292px;
  border-radius: 10px;
  background: #FFF;
  overflow: visible;
}

.reviews__slide-title {
  grid-column: 1/3;
  color: #2B7AF1;
  font-size: 20px;
  font-weight: 700;
}

.reviews__slide-icon {
  justify-self: end;
  grid-column: 3/4;
}

.reviews__slide-subtitle {
  grid-column: 1/4;
  grid-row: 2/3;
  font-family: Open Sans;
  font-weight: 400;
}

.reviews__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.reviews__slide-name {
  color: #2B7AF1;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
}

.reviews__slide-city {
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
}

.reviews__slide-date {
  grid-column: 3/4;
  align-self: flex-end;
  justify-self: end;
  font-size: 14px;
  font-weight: 500;
}

.reviews__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 10px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2%, #FF7A00), color-stop(99.82%, #FFB039));
  background: linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%);
  opacity: 1;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer {
  position: relative;
  padding-top: 200px;
}

.footer__filter {
  position: absolute;
  height: 557px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(17, 17, 17, 0.5019607843);
}

.footer__background {
  position: absolute;
  bottom: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
  z-index: -2;
  width: 100%;
  height: 557px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 84px;
}

.footer__window {
  width: 393px;
  height: 451px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
}

.footer__window-title {
  color: #2B7AF1;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding: 40px 10px 0px;
}

.footer__window-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 10px;
}

.footer__window-input {
  max-width: 313px;
  width: 100%;
  height: 42px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  border: 1px solid var(--shadow, rgba(17, 17, 17, 0.5));
  padding-left: 20px;
}

.footer__window-input--big {
  padding: 10px 0px 22% 20px;
  height: 115px;
}

.footer__window-button {
  margin-top: 14px;
}

.footer__info {
  position: relative;
  padding: 40px 0 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 710px;
  width: 100%;
}
.footer__info img {
  position: absolute;
  left: 0px;
  top: 0px;
}

.footer__info-text {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.footer__info-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__info-name h5 {
  color: #2B7AF1;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.footer__info-name span {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-weight: 400;
  line-height: 26px;
}

.nav--footer {
  color: #FFF;
  margin-top: 240px;
}

.nav__text-general--footer::before {
  background: #ffffff;
}

.line-footer {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: #C4C4C4;
}

.footer__Copyright {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 230px;
  padding-top: 21px;
  padding-bottom: 21px;
}
.footer__Copyright span, .footer__Copyright p {
  display: inline-block;
}

.footer-mobail {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px;
  z-index: -2;
}

.body--opened-modal {
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4431372549);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal__cancel {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__title {
  color: #2B7AF1;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.modal__text {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  gap: 10px;
}

.field__input {
  width: 313px;
  height: 42px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  border: 1px solid var(--shadow, rgba(17, 17, 17, 0.5));
  padding-left: 20px;
}

.field__input::-webkit-input-placeholder {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-weight: 400;
}

.field__input::-moz-placeholder {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-weight: 400;
}

.field__input:-ms-input-placeholder {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-weight: 400;
}

.field__input::-ms-input-placeholder {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-weight: 400;
}

.field__input::placeholder {
  color: var(--shadow, rgba(17, 17, 17, 0.5));
  font-weight: 400;
}

.button--modal {
  margin-top: 20px;
}

@media (max-width: 1250px) {
  .nav__list {
    display: none;
  }
  .nav__list-mobail {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav--header {
    padding-top: 15px;
  }
  .header__background {
    width: 70vw;
    height: 509px;
  }
  .header__hero-title {
    font-size: 20px;
  }
  .header__hero-subtitle {
    font-family: Open Sans;
    font-size: 14px;
  }
  .button--header {
    font-size: 14px;
    padding: 10px 30px;
  }
  .header__hero-img {
    max-width: 1140px;
  }
  .header__hero-img .header__img {
    height: 257px;
  }
  .header__cards {
    gap: 15;
  }
  .about-us {
    padding-top: 10vw;
    padding-bottom: 73px;
  }
  .about-us__title {
    font-size: 24px;
  }
  .about-us__info {
    padding-top: 20px;
  }
  .about-us__bloc {
    gap: 24px;
  }
  .about-us__text {
    font-size: 14px;
  }
  .about-us__icon img {
    width: 50px;
    height: 50px;
  }
  .about-us__icon-num {
    font-size: 24px;
  }
  .about-us__icon-text {
    font-size: 12px;
  }
  .contacts {
    padding-top: 50px;
  }
  .contacts__info-title {
    padding-bottom: 20px;
    font-size: 24px;
    color: #2B7AF1;
  }
  .contacts__info-bloc-line-app,
  .contacts__info-bloc-line-down {
    gap: 10px;
  }
  .contacts__info-bloc-line-app img,
  .contacts__info-bloc-line-down img {
    width: 25px;
    height: 25px;
  }
  .contacts__info-bloc-line-app p,
  .contacts__info-bloc-line-down p {
    font-size: 12px;
  }
  .button--contacts {
    display: block;
    width: 198px;
    padding: 8px 20px;
    margin-top: 40px;
    margin-right: 15px;
    font-size: 14px;
  }
  .contacts__info-buttons {
    display: none;
  }
  .reviews {
    padding-top: 100px;
  }
  .reviews__background {
    height: 324px;
    padding: 20px;
  }
  .reviews__background-img {
    width: 70.689px;
    height: 69.609px;
  }
  .reviews__title {
    padding-top: 50px;
    font-size: 24px;
  }
  .reviews__next,
  .reviews__prev {
    top: 75px;
  }
  .reviews__next img,
  .reviews__prev img {
    width: 60px;
    height: 60px;
  }
  .reviews__prev {
    left: -37px;
  }
  .reviews__next {
    right: -37px;
  }
  .reviews__swiper-wrapper {
    padding-top: 20px;
  }
  .reviews__slide {
    height: 175px;
    padding: 10px;
  }
  .reviews__slide-title {
    font-size: 14px;
  }
  .reviews__slide-subtitle {
    font-size: 12px;
  }
  .reviews__slide-name {
    font-size: 10px;
  }
  .reviews__slide-city,
  .reviews__slide-date {
    font-size: 8px;
  }
  .reviews__pagination {
    padding-top: 20px;
  }
  .footer {
    padding-top: 90px;
  }
  .footer__wrapper {
    gap: 1vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__window-title {
    font-size: 24px;
  }
  .footer__window-input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .footer__window-input::-moz-placeholder {
    font-size: 12px;
  }
  .footer__window-input:-ms-input-placeholder {
    font-size: 12px;
  }
  .footer__window-input::-ms-input-placeholder {
    font-size: 12px;
  }
  .footer__window-input::placeholder {
    font-size: 12px;
  }
  .footer__window-button {
    font-size: 14px;
  }
  .footer__info-text,
  .footer__info-name {
    font-size: 14px;
  }
  .footer__info-text h5,
  .footer__info-name h5 {
    font-size: 14px;
  }
  .footer__info-text span,
  .footer__info-name span {
    font-size: 14px;
  }
  .nav--footer {
    margin-top: 305px;
  }
  .footer__Copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 930px) {
  .nav__list-img img {
    width: 15px;
  }
  .nav__list-circle {
    bottom: -6px;
    left: -8px;
    width: 30px;
    height: 30px;
  }
  .nav__list-contact .button {
    width: 145px;
    height: 30px;
    padding: 8px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list-contact .button__link {
    font-size: 12px;
  }
  .header__hero-wrapper {
    gap: 1%;
  }
  .header__cards-icon {
    width: 100px;
    height: 100px;
  }
  .header__cards {
    gap: 10px;
  }
  .apartments {
    padding-top: 15vw;
  }
  .container--apartments {
    padding-right: 10px;
  }
  .apartments__general-title {
    font-size: 24px;
  }
  .apartments__grid {
    padding-top: 3.5vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1vw;
  }
  .apartments__bloc {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    max-width: 235px;
    height: 246px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 10px;
    background-image: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
            box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.1);
  }
  .bloc1 {
    grid-column: 1;
  }
  .bloc4 {
    grid-column: 4;
  }
  .apartments__filter {
    display: none;
  }
  .apartments__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000000;
  }
  .apartments__img--mobail {
    width: 100%;
    display: block;
    max-width: 215px;
    height: 120px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 10px;
  }
  .apartments__title--mobail {
    display: block;
    font-size: 14px;
    font-weight: 800;
    padding-top: 11px;
  }
  .apartments__price {
    padding-top: 23px;
    font-size: 12px;
  }
  .apartments__money {
    font-size: 12px;
    padding-left: 0px;
  }
  .button--apartments {
    padding: 6px 3vw;
    margin-top: 10px;
    font-size: 10px;
  }
  .button--apart-down {
    margin-top: 30px;
    padding: 6px 20px;
    font-size: 14px;
  }
  .apartments__title,
  .apartments__subtitle,
  .apartments__new {
    display: none;
  }
  .nav__list-img .nav__list-img--footer {
    width: 40px;
  }
}
@media (max-width: 790px) {
  .maill,
  .nav__list-mail {
    display: none;
  }
  .header__background {
    width: 57vw;
  }
  .header__cards {
    grid-template-columns: repeat(3, 32.4%);
    grid-template-rows: auto;
    gap: 10px;
  }
  .header__cards-bloc--4 {
    max-width: 100%;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    grid-column: 1/4;
  }
  .header__cards-bloc--4 .header__cards-icon {
    padding-top: 0px;
    width: 60px;
    height: 60px;
  }
  .header__cards-bloc--4 .header__cards-text {
    padding-top: 0px;
  }
  .header__cards-text {
    padding-top: 20px;
  }
  .apartments__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .apartments__bloc {
    padding: 0px;
  }
  .bloc4 {
    grid-column: 2/1;
  }
  .button--apartments {
    padding: 6px 4vw;
  }
  .about-us {
    padding-bottom: 50px;
  }
  .about-us__bloc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3.5vw;
  }
  .about-us__text {
    max-width: 700px;
    grid-column: 1/4;
  }
  .about-us__icon--1 {
    grid-column: 2/1;
  }
  .footer__wrapper {
    gap: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__window {
    width: 90%;
  }
  .footer__info {
    display: none;
  }
}
@media (max-width: 650px) {
  .header__background {
    width: 50vw;
  }
  .maill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__list-tell {
    display: none;
  }
  .nav__list-contact .button {
    display: none;
  }
  .body--opened-menu .nav__mobail-wrapper .nav__list-item-mobai::before {
    width: 25vw;
  }
  .body--opened-menu .nav__mobail-wrapper .nav__mobail-container {
    width: 0vw;
  }
  @-webkit-keyframes viewport {
    to {
      width: 45vw;
    }
  }
  @keyframes viewport {
    to {
      width: 45vw;
    }
  }
  .header__hero-wrapper {
    margin-left: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
  }
  .header__hero-wrapper .header__hero {
    color: #FFF;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__hero-img {
    position: absolute;
    top: 85px;
    z-index: -2;
    max-width: 98%;
  }
  .header__hero-img .header__hero-img-fil {
    display: block;
    background: rgba(17, 17, 17, 0.5019607843);
  }
  .header__cards {
    padding-top: 150px;
  }
  .footer__filter,
  .footer__background,
  .nav__list-contact--footer,
  .nav__list-cosial-item,
  .footer__Copyright {
    display: none;
  }
  .nav--footer {
    margin-top: 100px;
  }
  .nav__list-mobail {
    background-color: #ffffff;
    padding: 9px 13px 4px 13px;
    border-radius: 5px;
  }
  .nav__list-cosial--mini {
    display: inline-block;
  }
  .footer-mobail {
    background: #2B7AF1;
  }
}
@media (max-width: 430px) {
  .header__background {
    width: 40vw;
  }
  .header__cards {
    grid-template-columns: repeat(2, 49.4%);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .header__cards .header__cards-bloc--3 {
    grid-column: 1/2;
  }
  .header__cards .header__cards-bloc--4 {
    max-width: 305px;
    height: 231px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(17, 17, 17, 0.3019607843);
            box-shadow: 0px 5px 20px 0px rgba(17, 17, 17, 0.3019607843);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-column: 2/2;
  }
  .header__cards .header__cards-bloc--4 .header__cards-text {
    display: none;
  }
  .header__cards .header__cards-bloc--4 .header__cards-text--4 {
    display: block;
  }
  .header__cards .header__cards-icon {
    width: 100px;
    height: 100px;
    padding-top: 40px;
  }
  .header__cards .header__cards-text {
    padding-top: 10px;
  }
  .apartments__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .bloc3 {
    grid-column: 2/1;
  }
  .bloc4 {
    grid-column: 2/2;
  }
  .about-us__bloc {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
  }
  .about-us__text {
    grid-column: 1/3;
    padding-bottom: 5vw;
  }
  .about-us__icon--3 {
    grid-template-columns: 4/1;
  }
  .contacts__bloc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .contacts__info {
    gap: 30px;
  }
  .contacts__info-title {
    font-size: 24px;
    padding-bottom: 20px;
    color: #2B7AF1;
  }
  .contacts__info-bloc-down {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__info-bloc-down p {
    display: none;
  }
  .button--contacts {
    margin-top: 0px;
    width: 155px;
    margin-right: 0px;
  }
  .contacts__img {
    width: 100%;
    height: 200px;
  }
  .reviews__title {
    font-size: 20px;
  }
  .reviews__slide-title {
    font-size: 12px;
  }
  .reviews__slide-icon {
    width: 80px;
  }
  .reviews__slide-subtitle {
    font-size: 10px;
  }
  .reviews__slide-info {
    grid-column: 1/3;
  }
}