$general-color : #2B7AF1;
// ===========================================================================
.body{
    color:#111;
    // background: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.container{
    max-width: 1310px;
    // background: #a866f371;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.button{
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    
}
.button:hover{
    background: linear-gradient(90deg, #DD6A00 0.2%, #F99806 99.82%);
}

// =========================================================================
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav--header{
    padding-top: 40px;
}

.nav__list{
    display: none;
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav__list-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;

    flex-shrink: 0;
    border-radius: 10px;
    background: #2B7AF1;
    a{
    font-size: 18px;
    font-weight: 800;
    }
} 
.nav__text-general{
    display: block; 
    position: relative; 
} 
.nav__text-general::before{
    content: ""; 
    position: absolute; 
    top: 17px; 
    left: 0px; 
    width: 67px; 
    height: 2px; 
    flex-shrink: 0; 
    border-radius: 2px; 
    background:#111;
}

// ====================

.nav__list-contact{ 

    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
} 
.nav__list-img{ 
    position: relative;
    z-index: 1;
}      
.nav__list-circle{
    position: absolute;
    bottom: -11px;
    left: -10px;
    z-index: -1;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #ffffff;
}


.nav__list-contact-mail,
.nav__list-contact-tell{
    display: flex;
    gap: 10px;
    align-items: center;

} 

.nav__list-cosial{
    display: flex;
    gap: 10px;
    align-items: center;
}

// ===========================================================================
@import "./components/header";
@import "./components/main";
@import "./components/footer";
// ===========================================================================
.body--opened-modal {
    overflow: hidden;
}
.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}
.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}
.modal__window {
    position: relative;
    width: 450px;
    height: 450px; 
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px -5px 20px 0px #00000033;
}
.modal__cancel {
    position: absolute;
    top: 15px;
    right: 15px;
}
.modal__title {
    color: #2B7AF1;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}
.modal__text {
    color: #333;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
}
.field__input {
    width: 313px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid var(--shadow, rgba(17, 17, 17, 0.50));
    padding-left: 20px;
    
}
.field__input::placeholder{
    color: var(--shadow, rgba(17, 17, 17, 0.50));
    font-weight: 400;
}
.button--modal {
    margin-top: 20px;
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@media (max-width: 1250px){
    .nav__list{
        display: none;
    }
    .nav__list-mobail{
        overflow: hidden;
        display: flex;
    }
    .nav--header{
        padding-top: 15px;
    }
    .header__background{
        width: 70vw;
        height: 509px;
    }
    .header__hero-title{
        font-size: 20px;
    }
    .header__hero-subtitle{
        font-family: Open Sans;
        font-size: 14px;    
    }
    .button--header{
        font-size: 14px;
        padding: 10px 30px;
    }
    .header__hero-img{
        max-width: 1140px;
        .header__img{
            height: 257px;
        }
    }
    .header__cards{
        gap: 15;
    }
    // =========================================================
    // =========================================================
    // =========================================================
    .about-us {
        padding-top: 10vw;
    }
    .about-us__title {
        font-size: 24px;
    }
    .about-us__info {
        padding-top: 20px;
    }
    .about-us__bloc {
        gap: 24px;
    }
    .about-us__text {
        font-size: 14px;
    }
    .about-us__icon {
        img{
            width: 50px;
            height: 50px;
        }
    }
    .about-us__icon-num {
        font-size: 24px;
    }
    .about-us__icon-text {
        font-size: 12px;
    }
    // =========================================================
    .contacts {
        padding-top: 50px;
    }
    .contacts__info-title{
        padding-bottom: 20px;
        font-size: 24px;
        color: #00ff1a;
    }
    .contacts__info-bloc-line-app,
    .contacts__info-bloc-line-down{
        gap: 10px;
        img{
            width: 25px;
            height: 25px;
        }
        p{
            font-size: 12px;
        }
    }
    .button--contacts{
        display: block;
        width: 198px;
        padding: 8px 20px;
        margin-top: 40px;
        margin-right: 15px;
        font-size: 14px;
    }
    .contacts__info-buttons {
        display: none;
    }

}

@media (max-width: 930px){
    .nav__list-img{
        img{
            width: 15px;
        }
    }
    .nav__list-circle{
        bottom: -6px;
        left: -8px;
        width: 30px;
        height: 30px;
    }
    .nav__list-contact{
        .button{
            width: 145px;
            height: 30px;
            padding: 8px 20px;
            justify-content: center;
            align-items: center;
        }
        .button__link{
            font-size: 12px;
        }
    }
    .header__hero-wrapper{
        gap:1% ;
    }
    .header__cards-icon{
        width: 100px;
        height: 100px;
    }
    .header__cards{
        gap: 10px;
    }
    // =========================================================
    // =========================================================
    // =========================================================
    .apartments {
        padding-top: 15vw;
    }
    .container--apartments {
        padding-right: 10px;
    }
    .apartments__general-title {
        font-size: 24px;
    }
    .apartments__grid {
        padding-top: 3.5vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 1vw;
    }
    .apartments__bloc {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        max-width: 235px;
        height: 246px;
        flex-shrink: 0;
        padding: 10px;
        background-image: none;
        border-radius: 10px;
        box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.10);
    }
    .bloc1 {
        grid-column: 1;
    }
    .bloc4 {
        grid-column: 4;
    }
    .apartments__filter {
        display: none;
    }
    .apartments__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000000;
        
    }
    .apartments__img--mobail{
        width: 100%;
        display: block;
        max-width: 215px;
        height: 120px;
        flex-shrink: 0;
        border-radius: 10px;
    }
    .apartments__title--mobail{
        display: block;
        font-size: 14px;
        font-weight: 800;
        padding-top:11px ;
    }
    .apartments__price {
        padding-top: 23px;
        font-size: 12px;
    }
    .apartments__money {
        font-size: 12px;
        padding-left: 0px;
    }
    .button--apartments {
        padding: 6px 3vw;
        margin-top: 10px;
        font-size: 10px;
    }
    .button--apart-down {
        margin-top: 30px;
        padding: 6px 20px;
        font-size: 14px;
    }
    .apartments__title,
    .apartments__subtitle,
    .apartments__new {
        display: none;
    }
    // =========================================================


}
@media(max-width: 790px){
    .maill,
    .nav__list-mail{
        display: none;
    }
    .header__background{
        width: 57vw;
    }
    .header__cards {
        grid-template-columns: repeat(3, 32.4%);
        grid-template-rows: auto;
        gap: 10px;
    }
    .header__cards-bloc--4{
        max-width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-around;
        grid-column: 1/4;
        .header__cards-icon{
            padding-top: 0px;
            width: 60px;
            height:60px;
        }
        .header__cards-text{
            padding-top: 0px;
        }
    }
    .header__cards-text{
        padding-top: 20px;
    }
    // =========================================================
    // =========================================================
    // =========================================================
    .apartments__grid {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .apartments__bloc {
        padding:0px ;
    }
    .bloc4 {
        grid-column: 2/1;    
    }
    .button--apartments {
        padding: 6px 4vw;
    }
    // =========================================================
    .about-us__bloc {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows:repeat(1, 1fr) ;
        justify-content: space-between;
        gap: 3.5vw;
    }
    .about-us__text {
        max-width: 700px;
        grid-column: 1/4;
    }
    .about-us__icon--1 {
        grid-column: 2/1;
    }
    // =========================================================

}
@media(max-width: 650px){
    .header__background{
        width: 50vw;
    }
    .maill{
        display: flex;
    }
    .nav__list-tell{
        display: none;
    }
    .nav__list-contact{
        .button{
            display: none;
        }
    }
    .body--opened-menu{
        .nav__mobail-wrapper {
            .nav__list-item-mobai::before{
                width: 25vw;
            }
            .nav__mobail-container{
                width: 0vw;
            }
            @keyframes viewport {
                to {
                    width: 45vw;
                }
            }
        }
    }
    .header__hero-wrapper{
        margin-left: 0px;
        justify-content: center;
        gap: 0px;
        .header__hero{
            color: #FFF;
            align-items: center; 
        }
    }
    .header__hero-img{
        position: absolute;
        top: 85px;
        z-index: -2;
        max-width: 98%;
        
        .header__hero-img-fil{
            display: block;
            background:  #11111180;
        }
    }
    .header__cards{
        padding-top: 150px;
    }
    // =========================================================
    // =========================================================
    // =========================================================


}
@media(max-width: 430px) {
    .header__background{
        width: 40vw;
    }
    .header__cards {
        grid-template-columns: repeat(2, 49.4%);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        .header__cards-bloc--3{
            grid-column: 1/2;
        }
        .header__cards-bloc--4{
            max-width: 305px;
            height: 231px;
            flex-shrink: 1;
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 0px 5px 20px 0px #1111114d;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            grid-column: 2/2;
            .header__cards-text{
                
                display: none;
            }
            .header__cards-text--4{
                display: block;
            }
        }

        .header__cards-icon {
            width: 100px;
            height:100px;
            padding-top: 40px;
        
        }
        .header__cards-text{
            padding-top: 10px;
        }
    }
    // =========================================================
    // =========================================================
    // =========================================================
    .apartments__grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .bloc3 {
        grid-column: 2/1;
    }
    .bloc4 {
        grid-column: 2/2;
    }
    // =========================================================
    .about-us__bloc {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2fr 1fr 1fr ;
        
    }
    .about-us__text {
        grid-column: 1/3;
        padding-bottom: 5vw;
    }
    .about-us__icon--3 {
        grid-template-columns: 4/1;
    }
    // =========================================================
    .contacts {
    }
    .contacts__bloc {
        flex-direction: column;
        gap: 30px;
    }
    .contacts__info {
        gap: 30px;
    }
    .contacts__info-title {
        font-size: 24px;
        padding-bottom: 0px;
        color: #DD6A00;
    }
    .contacts__info-bloc-down {
        flex-direction: row;
        p{
            display: none;
        }
    }
    .button--contacts{
        margin-top: 0px;
        width: 155px;
        margin-right: 0px;
    }
    .contacts__img {
        width: 100%;
        height: 200px;
    }
    .contacts__img-bg {
    }
}