
.header{
    position: relative;
}
.header__background{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -5;
    width: 100%;
    width: 52vw;
    height: 810px;
    flex-shrink: 0;
    border-radius: 0px 0px 0px 10px;
    background: $general-color
}
// ==============================================
.nav__list-mobail {
    display: none;
    align-items: center;
    gap: 38px;
}   
.nav__list-item {
    position: relative;
    cursor: pointer;
} 
.nav__list-item--burger{
    position: relative;
    cursor: pointer;
    width: 55px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav_list-burger, 
.nav_list-burger::before,
.nav_list-burger::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background:#000000;
    
}
.nav_list-burger::before,
.nav_list-burger::after{
    content: '';
    position: absolute;
}
.nav_list-burger::before{
    top: 7px;
}
.nav_list-burger::after{
    bottom: 8px;
} 
// ==============================================

.nav__mobail-wrapper{
display: none;
}
.body--opened-menu{
    overflow: hidden;
    .nav__mobail-wrapper {
        
        display: block;
        position:fixed;
        z-index: 2;
        inset: 0px;
        backdrop-filter: blur(4px);
        background-color: #0000005e;
        width: 100%;
        height: 100%;

        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
    }
    .nav__mobail-container{
        width: 0px;
        height: 100%;
        background: $general-color;
        padding-top: 115px;
        
        animation: viewport 1.5s forwards;
    }
    @keyframes viewport {
        to {
            width: 40vw;
        }
    }
    .nav__list-mobail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .nav__list-item--burger{
        width: 35px;
    }
    .nav_list-burger,
    .nav_list-burger::before,
    .nav_list-burger::after{
        display: block;
        top: 13px;
        left: 0px;
        
    }
    .nav_list-burger::before{
        background: #ffffff;
        transform: rotate(-45deg);
    }
    .nav_list-burger::after{
        background: #ffffff;
        transform: rotate(45deg);
    } 
    .nav_list-burger{
        background: transparent;
        
    }
    .nav__list-item-mobai {
        display: block;
        position: relative;
    }
    .nav__list-item-mobai::before {
        content: '';
        position: absolute;
        top: 30px;
        width: 35vw;
        height: 1px;
        background: rgba(255, 255, 255, 0.20);
        
    }
}
// ==============================================
.header__hero-wrapper{
    // max-width: 1500px;
    padding-top: 63px;
    padding-left: 15px;
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
}
.header__hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 390px;
}
.header__hero-title{
    font-size: 40px;
    font-weight: 800;
}
.header__hero-subtitle{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
}
.button--header{
    margin-top: 27px;
}
.header__hero-img{
    width: 100%;
    max-width: 61%;
}
.header__img{
    top: 140px;
    right: 0px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 10px 20px 0px #1111111a;
    width: 100%;
    height: 473px;
}
.header__hero-img-fil{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
// ==============================================
.header__cards {
    width: 100%;
    padding-top: 67px;
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    grid-template-rows: auto;
    gap: 20px;
}
.header__cards-bloc {
    max-width: 305px;
    height: 231px;
    flex-shrink: 1;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 5px 20px 0px #1111114d;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header__cards-icon {
    padding-top: 40px;

}
.header__cards-text {

    max-width: 256px;
    padding-top: 26px;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
}
.header__cards-text--4{
    display: none;
}


